/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

.card-subheader {
  text-align: center;
}

.mat-tab-group {
  height: 700px;
}
